.vscode
/profile
/build
/unity
/extra
src-plot/.venv
src-plot/__pycache__
notes.txt

# object files, will change this rule in the future
src-core/demod.o
src-core/audio.o
src-core/image.o
src-core/main.o
src-core/utils.o

# Output files
output/audio/*
output/images/*
output/text/*